@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border: 8px solid rgba(0,0,0,0.1);
    background-color: transparent;
}

.contact {
  opacity: 1;
  grid-column: 1/2;
  grid-row: 1/5;
  text-align: center;
  padding-top: 15%;
}

.mailus {
  text-align: left;
  padding: 7% 0 0 10%;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.table {
  grid-column: 2 / 4;
  grid-row: 2 / 5;
  padding: 0 0 0 10%;
}

.four {
  grid-column: 3;
  grid-row: 3;
}

.five {
  grid-column: 2;
  grid-row: 4;
}

.six {
  grid-column: 3;
  grid-row: 4;
}
input{
  border: 1px solid red;
  display: block;
  height: 44px;
  width: 100%;
  margin-right: 10px;
}
textarea{
  border: 1px solid red;
  width: 100%;
}
td{
  margin: 10px 10px 0 0;
}
.styled-left {
  border: 1px solid dodgerblue;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: dodgerblue;
  border-radius: 36px;
  background-color: white;
  transition: 0.5s;
}
.styled-left:hover {
  background-color: lightgray;
}
.styled-right {
  border: 1px solid dodgerblue;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: white;
  border-radius: 36px;
  background-color: dodgerblue;
  transition: 0.5s;
}
.styled-right:hover {
  background-color: rgb(133, 19, 135);
}
